.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 20px 0px;
    background-color: rgb(48, 48, 64);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 320px;
}

.form-string {
    color: white;
    margin: 20px 0px 0px 0px;
}

.input {
    width: 120px;
    margin: 0px 0px 0px 10px;
}

.button {    
    margin: 2px;
    height: 39px;
}

.navigate-to-investments {
    display: flex;    
    color: white;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin: 30px 0px 20px 0px;
}

.with-app-header {
    display: flex;    
    justify-content: center;
    align-items: center;
    color: white;
    width: 320px;    
}