.investments-detail-header {
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 25px;
    background-color: rgb(6, 81, 15);
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
    font-family: Arial, Helvetica, sans-serif;    
    color: white;
}

.investments-detail-item-header {
    width: 80px;
    padding-left: 10px;    
    text-align: center;    
}